        #output {
            clear: both;
        }
        
        #checkoutdiv {
            display: none;
        }
        
        .footer {
            background-color: darkgrey;
            color: white;
        }

        img {
            height: 305px!important;
        }